# edit the file
sudo vi /etc/systemd/system/jenkins.service

# install java
sudo apt install default-jre OR sudo apt install openjdk-8-jdk

# download jar file
mkdir /home/tzahi/jenkins
cd /home/tzahi/jenkins
curl -sO http://jenkins.localhost/jnlpJars/agent.jar

# build service file
[Unit]
Description=This service runs Jenkins continuous integration system
Wants=network.target
After=network.target

[Service]
ExecStart=java -jar agent.jar -url http://jenkins.localhost/ -secret UUID -name "WSL-Ubuntu-Node" -webSocket -workDir "/home/tzahi/jenkins/"
Restart=always
WorkingDirectory=/home/tzahi/jenkins
User=tzahi
Group=tzahi
RestartSec=20s


[Install]
WantedBy=multi-user.target
Alias=jenkins.service

## Run to start the service
sudo chown tzahi:tzahi /etc/systemd/system/jenkins.service
sudo chmod 644 /etc/systemd/system/jenkins.service
sudo systemctl daemon-reload
sudo systemctl enable jenkins.service
sudo systemctl start jenkins.service
sudo systemctl status jenkins.service
